.add-icon-container {
    border-radius: 12px;
    border: 2px solid black;

    background-color: white;
    fill: green;

    transition: 0.5s;
}

.add-icon {
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
}

.add-icon-container:hover {
    fill: white;
    background-color: green;
}