.remove-icon-container {
    border-radius: 12px;
    border: 2px solid black;

    height: 4vh;
    width: 4vh;

    background-color: white;
    fill: red;

    transition: 0.5s;

    justify-content: center;
}

.remove-icon {
    margin: auto;
}

.remove-icon-container:hover {
    fill: white;
    background-color: red;
}