.scouter-container {
    border-radius: 10px;
    border: 3px solid black;

    margin: 1vh;

    width: 24vw;

    max-height: 89vh;

    align-self: flex-start;

    overflow: auto;
}

.scouter-header {
    text-align: center;

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    margin: 1vh 1vw;
}

.scouter-entry-container {
    height: 7vh;
    display: flex;
    flex-direction: row;

    padding: 1vh 1vw;

    justify-content: space-between;

    font-size: 2vh;

    user-select: none;

}

.scouter-entry {
    margin: 0 1vw;


    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.entry-text {
    margin-top: auto;
    margin-bottom: auto;

    margin-left: 0.5vw;

    transition: 0.5s;

    word-wrap: anywhere;
}

.highlighted {
    text-decoration: line-through;
    font-size: 3vh;
}

.over-scheduled-warning {
    background-color: white;
    border-radius: 10px;
    color: red;

    font-size: 1.5vh;

    text-align: center;
}

.create-scout-dimmer {
    background-color: white;
    border-radius: 5vh;

    padding: 3vh 3vw;

    color: black;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

