.game-config-editor {

}

.item-type-title {
    background-color: lightblue;
}

.item-type-normal {
    background-color: lightgray;
}

.template-item {
    display: flex;
    padding: 1vh 1vw;
    margin: 0.5vh 0;
    border-radius: 0.75vh;
}

.draggable-list {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.config-qr-code-window {
    max-width: 55vw;
    max-height: 100vh;

    padding: 2vh;

    color:black;

    background-color: white;
    border-radius: 2vh;

    position: relative;
}

.config-qr-code-header-text {
    max-width: 75vw;
    min-width: 30vw;
}

.qr-code-big {
    height: 50vh;
    width: 50vh;
}

.align-min-max {
    display: flex;
    flex-direction: row;
    align-items: center;
}