:root {
    --team-display-border: 3vh;

    --normal-preview-size: 15vw;
    --bigger-preview-size: 0.75vw;
    --preview-margin: 1vh;
}

.team-display-image-container {
    background: linear-gradient(to bottom, transparent 0%, transparent 70%, rgba(0, 0, 0, 0.75) 100%);

    border-radius: var(--team-display-border);
    height: 100%;
    width: 100%;

}

.team-display-image {
    border-radius: var(--team-display-border);
    height: 100%;
    width: 100%;

    object-fit: cover;

    z-index: -1;

    position: relative;

}

.team-display-container {

    position: relative;

    height: var(--normal-preview-size);
    width: var(--normal-preview-size);

    margin: var(--preview-margin);

    user-select: none;

    transition: 0.25s;


}

.loading {
    filter: blur(10px);
}
.loaded {
    filter: blur(0px);
    transition: filter 0.5s linear;
}

.team-display-container:hover {
    height: calc(var(--normal-preview-size) + var(--bigger-preview-size));
    width: calc(var(--normal-preview-size) + var(--bigger-preview-size));

    margin: calc(var(--preview-margin)- var(--bigger-preview-size));
}


.team-display-info {
    /*background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.75) 90%, transparent 100%);*/


    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5vh;

    border-radius: 0 0 var(--team-display-border) var(--team-display-border);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0.5vh 10%;

    overflow: hidden;
}

.team-display-text {
    opacity: 100%;

    margin: 0;

    white-space: nowrap;

    overflow: hidden;

    font-size: 1.5vh;
}