.picklist-flex {
    display: flex;

    position: relative
}

.picklist-column {
    width: 50vw;
    margin: 0.5vh 0.5vw;

    max-height: 91.5vh;
    overflow-y: auto;
    overflow-x: auto;

}

.picklist-sortable {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.picklist-title {
    text-align: center;

    font-size: 3vh;
}

.picklist-item-display {
    border: 1px solid rgb(128, 128, 128);

    background-color: #e7e6e6;

    border-radius: 1vh;

    padding: 0.25vh 0.5vw;

    display: flex;
    justify-content: space-between;

    transition: 0.5s;

    align-self: center;

    width: 45vw;

}

.picklist-item-display:hover {
    background-color: #a4a2a2;
}

.crossed-off-item {
    opacity: 50%;
}

.picklist-text {
    margin-top: 0;
    margin-bottom: 0;

    user-select: none;

    overflow: clip;

    max-width: 35vw;
    white-space: nowrap;
}

.picklist-item-flex {
    display: flex;

    align-items: center;

    width: 45vw;
}

.picklist-check {
    margin-top: auto;
    margin-bottom: auto;

    margin-right: 0.75vw;
    width: 0.75vw;
}

.picklist-item-content {
    display: flex;
    justify-content: space-between;

    align-items: center;

    width: 100%;

    position: relative;
}

.picklist-item-crossoff {
    position: absolute;
    width: 0;
    height: 0.3vh;
    background-color: black;

    top: 50%;

    transition: 0.5s;
}

.crossed-off {
    width: 100%;
}

.accept {
    background-color: #70d970;
}

.accept:hover {
    background-color: lime;
}

.decline {
    background-color: #ef7676;
}

.decline:hover {
    background-color: red;
}

.privacy-button {
    position: absolute;

    right: 1vw;
    bottom: 1vw;

    z-index: 0;
}

.privacy-button-centered {
    position: absolute;
    bottom: 1vw;
    display: flex;

    justify-content: center;

    width: 100vw;
}


.privacy-active {
    background-color: rgba(0, 0, 0, 0.92);
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 100;
}

.privacy-inactive {
    display: none;
}

.hide-csv-upload {
    display: none;
}

