.team-view-pic {
    border-radius: var(--team-display-border);
    height: 15vw;
    width: 15vw;

    object-fit: cover;

    position: relative;

    border: 2px solid black;

    margin-bottom: 1vh;
}

.result-text {
    text-align: center;
}

.allow-scrolling {
    /*overflow-y: scroll;*/
}

.top-row {
    display: flex;
    justify-content: space-between;

    padding: 1vw;
}

.banners {
    /*display: flex;*/
    justify-content: space-between;

    max-width: 25vw;
}

.top-text {
    text-align: center;
    align-self: center;

    max-width: 25vw;
}

.table-manager {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-left: 1vw;
    margin-right: 1vw;
}

.center-cell-text {
    text-align: center !important;
}

.team-image-container {
    display: flex;
    flex-direction: column;
}

.non-selectable {
    user-select: none;
}

.good-job-row {
    background-color: #6de86d;
}

.extra-good-job-cell {
    background-color: #00ff00;
    border-radius: 1vw;
}