.team-view-pic {
    border-radius: var(--team-display-border);
    height: 15vw;
    width: 15vw;

    object-fit: cover;

    position: relative;

    border: 2px solid black;

    margin-bottom: 1vh;
}

.result-text {
    text-align: center;
}

.top-row {
    display: flex;
    justify-content: space-between;

    padding: 1vw;
}

.banners {
    /*display: flex;*/
    justify-content: space-between;

    max-width: 25vw;
}

.top-text {
    text-align: center;
    align-self: center;
}

.table-manager {
    display: flex;

    align-items: start;
}

.team-table-text-centering tr>td{
    text-align: center;
}

.team-image-container {
    display: flex;
    flex-direction: column;
}