.top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.grid-entry {
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 2px solid lightgrey;

    width: 10vh;

    transition: 0.5s;
    user-select: none;

    font-size: 2vh;

    word-wrap: anywhere;

}


.add-cell {
    border-radius: 5px;
    border: 5px dashed lightgray;

    margin: 0.5vh;

    height: 8vh;

    transition: 0.25s;
}

.add-hovering {
    background-color: lightgray;
}

.content {
    display: flex;

    flex-direction: column;
}

.multi-select-origin {
    border: 10px solid blue;
    border-radius: 25px;
}

.double-scouted {

    animation: double-flash 1s infinite;
}

@keyframes double-flash {
    0% {background-color: red}
    50% {background-color: white}
    100% {background-color: red}


}