.top {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.bottom {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.grid-entry {
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 2px solid lightgrey;

    width: 10vh;

    /*display: flex;*/

    transition: 0.5s;
}


.add {
    border-radius: 10px;
    border: 5px dashed lightgray;

    margin: 0.5vh;

    height: 8vh;

    transition: 0.25s;
}

.add:hover {
    background-color: lightgray;
}

.content {
    display: flex;

    flex-direction: column;
}