.header-container {
    background-color: #343a40;

    height: 8vh;

    display: flex;

    justify-content: space-between;

}

.header-item {
    margin-top: auto;
    margin-bottom: auto;

    display: flex;

}

.header-side-text {
    flex-direction: column;
}

.header-side-text h2 {
    margin: 0;
    text-align: right;

    font-size: 2vh;
}

.header-text {
    color: white;
    padding-right: 2vw;
}

.link {
    text-decoration: none;
    color: #e6e7ea;

    font-size: 2.5vh;

    margin: 0 1vw 0 1vw;
}